{% extends'base.html.twig' %}
{% block title %}{{ book.title }}{% endblock %}
{% block body %}
  <a href="{{path('books') }}" class="btn btn-warning mb-2">to book's list</a>
  <div class="jumbotron">
    <h1 class="display-4">{{ book.title }}</h1>
    <p class="lead">Author: {{ book.author }}</p>
    <p class="lead">Year of published: {{ book.yearOfPublished}}</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">read</a>
  </div>
{% endblock %}
